.mediabox {
	float: left;
	width: 33.33%;
	max-width: 100%;
	transition: all 0.2s ease;

}

.mediabox img {
	max-width: 100%;
	display: block;
	margin: 0 auto;  
	opacity:0.5;
	transition: all 0.2s ease; 
	opacity:0.8;
	filter:alpha(opacity=40);/* For IE8 and earlier */

}


.mediabox img:hover {
	opacity:1.0;
	filter:alpha(opacity=100); /* For IE8 and earlier */
}




.mediabox h3 {
	margin: 0.75em 0 0.5em;
}

.mediabox p {
	padding: 0 0 1em 0;
	margin: 0;
	line-height: 1.3;
}



/* Example media queries */

@media screen and (max-width: 52.375em) {
	.tabs nav a span {
		display: none;
	}

	.tabs nav a:before {
		margin-right: 0;
	}

	.mediabox {
		float: none;
		width: auto;
		font-size: 90%;
	}

	.mediabox img {
		float: none;
		margin: 0 auto;
		max-width: 100%;
	}

	.mediabox h3 {
		margin-top: 0;
	}

	.mediabox p {
		margin-left: 40%;
		margin-left: calc(40% + 25px);
	}

	.mediabox:before,
	.mediabox:after {
		content: '';
		display: table;
	}

	.mediabox:after {
		clear: both;
	}

/*	.overlay-close {
		  width: 80px;
		  height: 80px;
		  position: absolute;
		  right: 20px;
		  top: 20px;
		  overflow: hidden;
		  border: none;
		  background: url(images/cross.png) no-repeat center center;
		  text-indent: 200%;
		  color: transparent;
		  outline: none;
		  z-index: 100;
	}*/

	.modal {
		    position: fixed;
		    width: 100%;
		    height: 100%;
		    left: 0;
		    top: 0;
		    background-color:rgba(0, 0, 0, 1);
		    text-align: center;
		    z-index: 10; /* 1px higher than the overlay layer */
		    visibility: hidden;
	}
	.articles{
		  	text-align: center;
		  	background-color: #FFFFE3;
		  	width: 100%;
		  	height: 100%;
		  	margin-top: 0%;
		  	margin-left: 0%;
		  	
	}
	.articles img {
		float: none;
		margin: 0 auto;
		max-width: 100%;
	}

}

@media screen and (max-width: 32em) {
	.tabs nav ul,
	.tabs nav ul li a {
		width: 100%;
		padding: 0;
	}

	.tabs nav ul li {
		width: 20%;
		width: calc(20% + 1px);
		margin: 0 0 0 -1px;
	}

	.tabs nav ul li:last-child {
		border-right: none;
	}

	.mediabox {
		text-align: center;
	}

	.mediabox img {
		float: none;
		margin: 0 auto;
		max-width: 100%;
	}

	.mediabox h3 {
		margin: 1.25em 0 1em;
	}

	.mediabox p {
		margin: 0;
	}


}
