html {
  height: 100%;
}

body {
  color: #476184;
  background-color: #B3D1FF;
  font-family: 'Open Sans', sans-serif;
  font-size:1.50em;
  line-height:150%;

  margin-top:0px;
  margin-bottom:0px;
  margin-right:20px;
  margin-left:20px;

  height: 100%;

  margin-bottom:100px;
}

#main_container {
  margin-top:50px;
  margin-bottom:50px;
  padding-bottom:100px;
  height: 100%;

  margin-bottom:200px;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media screen and (min-width:1200px) {
  #main_container {
    width: 1200px;
    height: 100%;
    margin:0 auto;
    ffffont-size:0.80em;
  }
}

#content {
  -moz-box-shadow: 0px 0px 20px 5px #9EC2FD;
  -webkit-box-shadow: 0px 0px 20px 5px #9EC2FD;
  -o-box-shadow: 0px 0px 20px 5px #9EC2FD;
  box-shadow: 0px 0px 20px 5px #9EC2FD;
  filter:progid:DXImageTransform.Microsoft.Shadow(color=#9EC2FD, Direction=NaN, Strength=20);
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;

  margin-bottom:200px;
}

h1 {
  color: #476184;
  font-family: 'Roboto Slab', serif;
  font-size: 5em;

  margin-top:0px;
  margin-right:100px;
  margin-left:100px;
  line-height:120%;
}

h2 {
  color: #476184;
  font-family: 'Roboto Slab', serif;
  font-size: 2.5em;

  margin-top:0px;
  margin-right:100px;
  margin-left:100px;
  line-height:120%;
}

h3 {
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size:1em;
}

li {
  line-height:120%;
  margin-top:5px;
  margin-bottom:10px;
  margin-right:0px;
  margin-left:0px;
}

.section {
  clear: both;
  padding: 0px;
  margin: 0px;
}
.col {
  display: block;
  float:left;
  margin: 1% 0 1% 1.6%;
}
.col:first-child { margin-left: 0; }

.group:before,
.group:after {
  content:"";
  display:table;
}
.group:after {
  clear:both;
}

.span_4_of_4 {
  width: 100%;
}
.span_3_of_4 {
  width: 74.6%;
}
.span_2_of_4 {
  width: 48%;
}
.span_1_of_4 {
  width: 22%;
}

@media only screen and (max-width: 800px) {
  .col { 
    margin: 1% 0 1% 0%;
  }
  .span_4_of_4 {
    width: 100%; 
  }
  .span_3_of_4 {
    width: 100%; 
  }
  .span_2_of_4 {
    width: 100%; 
  }
  .span_1_of_4 {
    width: 100%;
    margin-left: 100px;
  }
}


#title1,
#title2,
#title3 {
  background-color: #B3D1FF;

  /*text-shadow: 0px 0px 10px rgba(158, 194, 253, 1);
  text-shadow: 0px 0px 10px rgba(100, 120, 155, 1);*/
  text-shadow: 0px 0px 10px rgba(120, 140, 175, 1);
  position: relative;
}
#title1 {
  padding-top:100px;
}

.all {
  padding-left:20px;
  padding-right:20px;

  /*text-shadow: 0px 0px 25px rgba(163, 163, 163, 0.5);*/

  height: 100%;
}

#first {
  padding-top:50px;
  background-color: #CADFAA;

  -moz-box-shadow: inset 0px 0px 20px 0px #cfcfcf;
  -webkit-box-shadow: inset 0px 0px 20px 0px #cfcfcf;
  -o-box-shadow: inset 0px 0px 20px 0px #cfcfcf;
  box-shadow: inset 0px 0px 20px 0px #cfcfcf;
  filter:progid:DXImageTransform.Microsoft.Shadow(color=#cfcfcf, Direction=NaN, Strength=20);
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;

}

#techno {
  padding-top:50px;
  background-color: #D3CABD;
  height: 100%;
  position: relative;
}

#contact_us {
  padding-top:50px;
  background-color: #FA9E25 ;
}
