html {
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5em;
  line-height: 150%;

  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-left: 0px;

  height: 100%;
  width: 100%;

  background-color: #E0D4B1;
}

h1 {
  color: #005B63;
  font-family: 'Roboto Slab', serif;
  font-size: 5em;

  margin-top:0px;
  aamargin-right:100px;
  aamargin-left:100px;
  line-height:100%;

  text-align: center;
}

h2 {
  color: #005B63;
  font-family: 'Roboto Slab', serif;
  font-size: 3em;

  margin-top:0px;
  line-height:100%;

  text-align: center;
}

h3 {
  color: #ffffff;
  font-family: 'Roboto Slab', sans-serif;
  font-size:1.5em;

  text-align: left;
}

li {
  color: #005B63;
  line-height:100%;
  margin-top:5px;
  margin-bottom:10px;
  margin-right:0px;
  margin-left:0px;
  font-family: 'Open Sans', sans-serif;
  font-size:1.5em;
}

#headerimage {
  clear: both;
  background: #fff url("images/lab.jpg") no-repeat 0 0;
  background-position:center;
  background-attachment: fixed;
  margin: 0px;
  color: #fff;
  swidth: 100%;
  min-height: 100%;
}

#bandeau_one {
  clear: both;
  background: #fff url("images/oculus.jpg") no-repeat 0 0;
  background-position:center;
  margin: 0px;
  color: #fff;
  height: 500px;
}

#bandeau_two {
  clear: both;
  background: #fff url("images/atelier.jpg") no-repeat 0 0;
  background-position:center;
  margin: 0px;
  color: #fff;
  height: 500px;
}

#bandeau_three {
  clear: both;
  background: #fff url("images/unity3D.jpg") no-repeat 0 0;
  background-position:center;
  margin: 0px;
  color: #fff;
  height: 500px;
}

#bandeau_four {
  clear: both;
  background: #fff url("images/atelier.jpg") no-repeat 0 0;
  background-position:center;
  margin: 0px;
  color: #fff;
  height: 500px;
}

#novelab {
  color: #ffffff;
}

#we_are,
#title1,
#title2,
#title3 {
  text-shadow: 0px 0px 1px rgba(120, 140, 175, 1);
  position: relative;
}

#title1 {
  padding-top: 100px;
}

#we_do {
  padding-top: 50px;
  background-color: #FFFFE3;
}
#we_do h3 {
  color: #000000;
}

#we_use {
  padding-top:50px;
  background-color: #E0D4B1;
  height: auto;
  position: relative;
}

#reference {
  padding-top:50px;
  background-color: #FFFFFF;
  min-height: 50%;
  position: relative;
}

#reference img {
  width: 70%;
  height: auto;
  text-align: center;
  border: 0px solid #333333;
  margin: 0px;
  padding: 0px;
  display: block;
  text-align: left;
}

#contact_us {
  padding-top:50px;
  background-color: #00A5A6;
  min-height: 100%;
}

/* needed for d3*/
.node {
  stroke: #ffffff;
  stroke-width: 1.5px;
}
.link {
  stroke: #ffffff;
  stroke-opacity: .6;
}
/* end of needed for d3*/

/* fuild grid */
.section {
  clear: both;
  padding: 0px;
  margin: 0px;
}
.col {
  display: block;
  float:left;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 0;
  margin-right: 0;
}

.col:first-child { margin-left: 0; }

.group:before,
.group:after {
  content:"";
  display:table;
}

.group:after {
  clear:both;
}

.span_4_of_4 {
  width: 100%;
}
.span_3_of_4 {
  width: 74.6%;
}
.span_2_of_4 {
  width: 30%;
  padding-left: 10%;
  padding-right: 10%;
  float: left;
}
.span_1_of_4 {
  width: 20%;
  margin-left: 0px;
  padding-left: 5%;
  padding-right: 0%;
}
.span_1_of_3 {
  width: 27%;
  margin-left: 0px;
  padding-left: 6%;
  padding-right: 0%;
}

@media only screen and (max-width: 1000px) {
  .col { 
    margin: 0 0 0 0;
  }
  .span_4_of_4 {
    width: 100%;
  }
  .span_3_of_4 {
    width: 100%;
  }
  .span_2_of_4 {
    width: 100%;
  }
  .span_1_of_4 {
    width: 100%;
    margin-left: 100px;
  }
  .span_1_of_3 {
    width: 100%;
    margin-left: 100px;
  }

}

/* end of fuild grid */

/* begin of slide */
  /* Prevent the slideshow from flashing on load */
  #slides {
    display: none
  }

  /* Center the slideshow */
  .container {
    margin: 0 auto
    width: 100%;
  }

  /* Show active item in the pagination */
  .slidesjs-pagination .active {
    color:red;
  }

/* end of slider */