/* CSS for NoveLab */

html {
  height: 100%;
}

body {
  height: 100%;
  font-size: 1.5em;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-left: 0px;

  background-color: #E0D4B1;
}

h1, h2, h3 {
  font-family: 'Roboto Slab', serif;
  margin-top:0px;
  line-height:100%;
}

h1 {
  color: #005B63;
  font-size: 5em;
  text-align: center;
}

h2 {
  color: #005B63;
  font-size: 3em;
  text-align: center;
}

h3 {
  color: #ffffff;
  font-size:1.2em;
  margin-bottom:0px;
  text-align: left;
}

ul {
  margin-top:0px;
  padding-left:10px;
  list-style-type:none;
}

li {
  color: #005B63;
  line-height:100%;
  margin-bottom:10px;
  margin-right:0px;
  margin-left:0px;

  font-family: 'Roboto', sans-serif;
  font-size:1.5em;
}

a {
  color: #ffffff;
  text-decoration: none;
}

#headerimage {
  clear: both;
  background: url("images/lab_hd.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  margin: 0px;
  width: 100%;
  min-height: 100%;
}



 /* project articles config */

/*.articles{
  background-color: #FFFFE3;
  width: 33.3%;
  position: absolute;
  left: 0; 
  right: 0;
  margin : auto;
  box-shadow:20px 20px 80px 20px #000000; 
  border:0.5px solid #000000;

} */

.articles{
  width: 33.3%;
  height: 85%;
  background-color: #FFFFE3;
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow:20px 20px 80px 20px #000000; 
  margin: auto;
}


.articles a{
  text-align: justify;
  line-height: 1.3;
  color: #000000;
}

.articles img{
  float: none;
  margin: 0 auto;
  max-width: 100%;
}

.articles h3{
  padding-left: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
  color: #005B63;
  font-size:1.2em;
  text-align: left;
}

.articles p{
  padding: 0em 1.5em 0em 1.5em ;
  text-align: justify;
  color: #000000;
  font-size: 14px;
  background-color: #FFFFE3;
}

.articles frame{
  padding: 0 0 1em 0;
  margin: 2%;
  text-align: justify;
  display:none;
}


.overlay-close{
    width: 20px;
    height: 30px;
    position: absolute;
    right: 0px;
    top: 0px;
    overflow: hidden;
    border: medium none;
    background: url('images/cross.png') no-repeat scroll center center transparent;
    text-indent: 100%;
    outline: medium none;
    z-index: 100;
}

.right-arrow{
    width: 20px;
    height: 30px;
    position: absolute;
    top: 50px;
	right: 0px;
    overflow: hidden;
    border: medium none;
    background: url('images/rightArrow.png') no-repeat scroll center center transparent;
    text-indent: 100%;
    outline: medium none;
    z-index: 100;
}

.left-arrow{
    width: 20px;
    height: 30px;
    position: absolute;
    top: 50px;
	left: 0px;
    overflow: hidden;
    border: medium none;
    background: url('images/leftArrow.png') no-repeat scroll center center transparent;
    text-indent: 100%;
    outline: medium none;
    z-index: 100;
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}



/* this is for ipad landscape/protrait mode */ 
@media only screen and (max-device-width: 1024px) {
  body {
    font-size: 1.2em;
  }
  h1 {
    font-size: 3em;
  }
  li {
    font-size:1em;
  }
  #headerimage {
    background: url("images/lab.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: local;
  }
}


/* this is for mobile landscape mode */ 
@media only screen and (max-width: 640px) {
  body {
    font-size: 0.7em;
  }
  h1 {
    font-size: 3em;
  }
  h3 {
    font-size:1.5em;
  }
  #headerimage {
    background-attachment: local;
  }
}

/* this is for mobile portrait mode */
@media only screen and (max-width: 360px) {
  body {
    font-size: 1em;
  }
  h3 {
    font-size:1.5em;
  }
  #headerimage {
    background-attachment: local;
  }
}

#logo {
  text-align: center;
}

#novelab {
  color: #ffffff;
}

#we_are,
#title1,
#title2,
#title3 {
  /*text-shadow: 0px 0px 2px rgba(120, 140, 175, 1);*/
  position: relative;
}

#we_are {
  width: 100%;
  background-color: #00A5A6;
}

#title1 {
  padding-top: 150px;
}

#we_do {
  padding-top: 50px;
  padding-bottom: 10%;
  background-color: #FFFFE3;
}

#we_do h3 {
  color: #000000;
}

#our_projects {
  padding-top: 50px;
  padding-bottom: 10%;
  background-color: #FFFFE3;
}

#our_projects h3 {
  color: #000000;
}

#we_use {
  padding-top: 10%;
  padding-bottom: 50px;
  background-color: #E0D4B1;
  height: auto;
  position: relative;
}

#we_use ul {
  padding-top: 10px;
  padding-left: 0px;
}

#reference {
  padding-top: 50px;
  background-color: #FFFFFF;
  min-height: 50%;
  position: relative;
}

#reference img {
  width: 70%;
  height: auto;
  text-align: center;
  border: 0px solid #333333;
  margin: 0px;
  margin-bottom: 50px;
  padding: 0px;
  display: block;
  text-align: left;
}

#contact_us {
  padding-top: 50px;
  background-color: #00A5A6;
  min-height: 100%;
}

#contact_us h3 {
  padding-top: 50px;
}

#carte {
  margin-top: 50px;
  border: 0px;
  height: 500px;
  max-height: 90%;
  width: 100%;
}

/* needed for d3*/
.node {
  stroke: #ffffff;
  stroke-width: 1.5px;
}
.link {
  stroke: #ffffff;
  stroke-opacity: .6;
}
/* end of needed for d3*/

/* fuild grid */
.section {
  clear: both;
  padding: 0px;
  padding-bottom: 1.5em;
  margin: 0px;
}
.col {
  display: block;
  float:left;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0;
  margin-right: 0;
}

.col:first-child { margin-left: 0; }

.group:before,
.group:after {
  content:"";
  display:table;
}

.group:after {
  clear:both;
}

.span_4_of_4 {
  width: 100%;
}
.span_3_of_4 {
  width: 74.6%;
}
.span_2_of_4 {
  width: 30%;
  padding-left: 10%;
  float: left;
}
.span_1_of_4 {
  width: 20%;
  margin-left: 0px;
  padding-left: 5%;
  padding-right: 0%;
}
.span_1_of_3 {
  width: 27%;
  margin-left: 0px;
  padding-left: 6%;
  padding-right: 0%;
}
.span_1_of_2 {
  width: 40%;
  margin-left: 0px;
  padding-left: 6%;
  padding-right: 0%;
}
.span_2_of_2 {
  width: 74.6%;
  margin-left: 0px;
  padding-left: 6%;
  padding-right: 0%;
}



@media only screen and (max-width: 360px) {
  .col { 
    margin: 0 0 0 0;
  }
  .span_4_of_4 {
    width: 100%;
  }
  .span_3_of_4 {
    width: 100%;
  }
  .span_2_of_4 {
    width: 90%;
    padding-left: 10%;
  }
  .span_1_of_4 {
    width: 90%;
    padding-left: 10%;
  }
  .span_1_of_3 {
    width: 90%;
    padding-left: 10%;
  }




}
/* end of fuild grid */



/* begin of slide */
  /* Prevent the slideshow from flashing on load */
  #slides {
    display: none
  }

  /* Center the slideshow */
  .slide_container {
    background : white;

  }

  /* Show active item in the pagination */
  .slidesjs-pagination .active {
    color:red;
  }



  /*overlay effect for each projects*/
/*.overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(0,0,0,1); 
}

.overlay-close {
  width: 80px;
  height: 80px;
  position: absolute;
  right: 20px;
  top: 20px;
  overflow: hidden;
  border: none;
  background: url(images/cross.png) no-repeat center center;
  text-indent: 200%;
  color: transparent;
  outline: none;
  z-index: 100;
}*/

.modal {
    width: 100%;
    height: 100%;
    /*line-height: 200px;*/
    position: fixed;
    top: 0%; 
    left: 0%;
    margin-left: auto;
    margin-right: auto;
    background-color:rgba(0,0,0,0.8);
    text-align: center;
    z-index: 11; /* 1px higher than the overlay layer */
    visibility: hidden;

}

iframe{
  border: none;
}





